body{
	background-image: url("../images/fond.png");
	background-size: cover;
	background-repeat: repeat-y;
	margin: 0;
	padding: 0;
	color: white;
}
main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh; /*100% de la zone d'affichage*/
}
/*element de la flexbox main*/
section{
	background-color: rgba(0,0,0,0.5);
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	width:20%;
	margin-right: 50px;
}
/*titre "Login"*/
section h2{
	text-align: center;
}
label{
	display: inline-block;
	width: 80px; /*pour aligner les champs de saisie*/
}
input{
	display:inline-block;
}
.login_button{
	text-align: center;
}
button{
	background-color: yellow;
	border-radius: 6px;
	width:100px;
	height:50px;
}
/*element de la flexbox main*/
.title{
	margin-left: 50px;
	font-family:"Futura";
	text-shadow: 3px 3px 3px black;
	text-align: center;
	line-height: 2em; /*espace entre les lignes*/
}
h1{
	font-size: 5em;
}
h2{
	font-size: 2em;
}
a{
	color:white;
}