body{
	background-image: url("../images/wallpaper.png");
	background-size: cover;
	margin: 0;
	padding: 0;
	color: white;
}
main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}
ul{
	display: flex;
	justify-content: center;
}
li{
	list-style-type: none; 	/*suppression des puces*/
	margin: 0px 10px;		/*1ère valeur: marges extérieures haut et bas
							2ème valeur marges extérieures droite et gauche*/
	padding: 10px;
}
/*element de la flexbox main*/
.title{
	margin-left: 50px;
	font-family:"Futura";
	text-shadow: 3px 3px 3px black;
	text-align: center;
	line-height: 2em; /*espace entre les lignes*/
}
h1{
	font-size: 5em;
}
h2{
	font-size: 2em;
}
/*element de la flexbox main*/
.formulaire{
	background-color: rgba(0,0,0,0.5);
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	width: 20%;
	margin-right: 50px;
}
a{
	color:white;
	text-decoration: none;
	font-size: 1.5em;
}
a:hover{
	text-decoration: underline;
}
label{
	display: inline-block;
	width: 60px; /*pour aligner les champs de saisie*/
}
.register_success{
	color: yellow;
}
.register_button{
	text-align: center;
}
button{
	background-color: yellow;
	border-radius: 6px;
	width:100px;
	height:50px;
}

/*Responsive design pour affichage sur smartphone*/
@media screen and (max-width: 1000px){
	main{
		display: grid;
		grid-template-columns: 1fr;
		height: auto;
	}
	.title{
		margin: auto;
		line-height: normal; /*espace entre les lignes*/
	}
	.formulaire{
		margin: auto;
		width: 80%;
	}
	h2{
		font-size: 1.5em;
	}
}