body{
	background-image: url("../images/wallpaper_3.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin: 0;
	padding: 0;
    color: white;
}
main{
    background-color: rgb(236, 236, 236);
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	width: 80%;
}
section{
	margin-bottom: 20px;
}
button{
	background-color: yellow;
	border-radius: 6px;
	width:200px;
	height:50px;
}
h2{
    font-family:"Futura";
    text-align: center;
}
#paypal-button-container{
	width: 500px;
	margin: auto;
}

/*Responsive design pour affichage sur smartphone*/
@media screen and (max-width: 1000px){
	body{
		display: grid;
		grid-template-columns: 1fr;
	}
}