.banniere{
	background-image: url("../images/United-Kingdom-Flag.png");
	background-size: cover;
	padding: 10px; /*marge intérieure*/
}
ul{
	display: flex;
	justify-content: center;
}
li{
	list-style-type: none; 	/*suppression des puces*/
	margin: 0px 10px;		/*1ère valeur: marges extérieures haut et bas
							2ème valeur marges extérieures droite et gauche*/
	padding: 10px;
	border: 2px black solid;
	border-radius: 6px;
	background-color: aquamarine;
}
li:hover{
	background-color: white;
}
a{
	color:black;
	text-decoration: none;
}
h1{
	font-size: 3em; /*taille relative (taille normale = 1em)*/
	font-family: Helvetica;
	text-align: center;
	color: yellow;
	text-shadow: 2px 2px 2px black;
}
main{
    background-color:aquamarine;
	border: 2px solid black;
	border-radius: 6px;
    padding: 10px; /*marge intérieure*/
}
article{
	background-color: white;
	width: 50%;
	margin: 10px 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
/*pour que le cadre de l'article englobe la photo même
si il n'y a pas assez de texte*/
article::after{
	content:"";
	display: block;
	clear: both;
}
img{
    width: 200px; 
    height: 200px; 
    object-fit: cover;
	border-radius: 50%;
	float: left;
	shape-outside: margin-box;
	margin: 0 20px 5px 0;
}