body{
	background-image: url("../images/wallpaper.png");
	background-size: cover;
	margin: 0;
	padding: 0;
	color: white;
}
.info_user{
	display: grid;
	grid-template-columns: 20px 150px;
	position: absolute;
	right: 0px;
}
.rond_vert{
	width: 10px;
	height: 10px;
	background-color: green;
	border-radius: 5px;
	margin: auto;
}
.nom{
	color:green;
}
img[alt="logout"]{
	width: 20px;
	filter: brightness(0%); /*rendre l'image noire*/
	margin: auto;
}
.logout{
	color:red;
}
h1{
    font-family: "Futura";
	text-shadow: 3px 3px 3px black;
	text-align: center;
    font-size: 3em;
}
ul{
	display: flex;
	justify-content: center;
}
li{
	list-style-type: none; 	/*suppression des puces*/
	margin: 0px 10px;		/*1ère valeur: marges extérieures haut et bas
							2ème valeur marges extérieures droite et gauche*/
	padding: 10px;
}
a{
	text-decoration: none;
}
a:visited{
    color:white;
}
a:hover{
	text-decoration: underline;
}
main{
    background-color: rgba(0,0,0,0.5);
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
}
h2{
    font-family:"Futura";
	text-shadow: 3px 3px 3px black;
    text-align: center;
}
h3{
	font-size: 1.3em;
}
article{
	background-color: white;
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
	color: black;
}
/*pour que le cadre de l'article englobe la photo même
si il n'y a pas assez de texte*/
article::after{
	content:"";
	display: block;
	clear: both;
}
img{
    width: 200px; 
    height: 200px; 
    object-fit: cover;
	border-radius: 50%;
	float: left;
	shape-outside: margin-box;
	margin: 0 20px 5px 0;
}

/*Responsive design pour affichage sur smartphone*/
@media screen and (max-width: 1000px){
	article{
		width: 90%;
		margin: auto;
	}
}